:root{
    --color: #161515;
    --bg: #f2f2f2;
    --box-bg: #c0c0c0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, 
html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
    font-family: sans-serif;
    color: var(--color);
    font-size: 1.2rem;
}

header, 
main, 
footer{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

header, 
section, 
footer{
    background: var(--box-bg);
}

header{
    padding: 20px;
}

main{
    display: grid;
    grid-template-columns: 200px auto;
    grid-gap: 20px;
    flex: 1;    
}

nav{
    padding: 40px;
}

article{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    margin-bottom: 20px;
}

.body-area{
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
}

footer{
    padding: 10px;
    text-align: center;
}