/* IFRO - Ariquemes
    Tecnologia em Análise e Desenvolvimento de Sistemas
    2021.2 - 1º Período
    Programação I
    Professor: Marcos Alves Faino
    Aluno: Lucas Pedreira Vital
 */

/* resets */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* variáveis */
:root{
    --primary-color: #d6c8b8;
    --primary-color-hover: #997144;
    --secondary-color: #292623;
    --black-color: #171513;
    --white-color: #fff;
    --gray-light-color: #f2f2f2;
}

/* base */
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--secondary-color);
}
/* header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 400px;
    background: url("../imagens/bg-header.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.header::after{
    content: "";
    width: 40%;
    height: 45%;
    background: var(--primary-color);
    opacity: 0.5;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.header__content{
    width: 100%;
    max-width: 580px;
    padding: 1rem;
    margin: 0 auto;
}

.header__title{
    color: var(--white-color);
    font-size: 2.5rem;
    text-shadow: 1px 1px 2px var(--black-color);
    margin-bottom: 10px;
}

.header__link{
    color: var(--white-color);
    text-decoration: none;
}

.header__link:hover{
    color: var(--primary-color);
}

.header__link::after{
    content: "";
    width: 70px;
    height: 1px;
    background: var(--white-color);
    display: block;
    margin-top: .2rem;

}

.header__link:hover::after{
    background: var(--primary-color);
}

/* login */

.login{
    width: 100%;
    padding: 60px 0;
}

.login--bg{
    background: var(--primary-color);
}

.login__content{
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}
.login__title{
    font-size: 1.2rem;
}

.login__description{
    line-height: 1.5rem;
    word-wrap: break-word;
    margin: 16px 0;
}

@media(min-width:780px) {
    .login__description{
        max-width: 65%;
    }
}

.login__button {
    padding: 5px 20px;
    border: 1px solid var(--secondary-color);
    background: var(--primary-color);
}
.login__button:hover{
    background: var(--primary-color-hover);
    color: var(--primary-color);
    cursor: pointer;
    border-color: var(--primary-color);
}

/* Planos e preços */
.plans{
    max-width: 960px;
    margin: 0 auto;
    padding: 80px 20px;
}
.plans__title{
    font-size: 1.2rem;
}

.plans__description{
    font-size: 1rem;
    margin-top: 10px;
    line-height: 1.5rem;
}

.plans__table--responsive{
    overflow-x:auto;
}

.plans__table{
    margin-top: 20px;
    border-collapse: collapse;
}

.plans__table thead{
    background: var(--primary-color);
    text-align: left;
}
.plans__table th{
    text-transform: uppercase;
}

.plans__table th, 
.plans__table td{
    padding: 10px 20px;
}

.plans__price{
    background: var(--gray-light-color);
}
.plans__pay{
    font-weight: bold;
    font-size: .8rem;
}
.plans--bold{
    font-weight: 700;
}
.plans__price--font-extra{
    font-size: 1.8rem;
}

/* footer */
.footer{
    display: flex;
    align-items: flex-end;
    width: 100%;
    min-height: 500px;
    background: url(../imagens/bg-footer.png) #000 no-repeat bottom;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 60px;
}

.footer__content{
    max-width: 960px;
    margin: 0 auto;
}

.footer__blockquote{
    color: var(--white-color);
    font-size: 1.8rem;
    text-align: center;
}

.footer__cite{
    display: flex;
    font-size: .8rem;
    justify-content: center;
    margin-top: 20px;
    text-transform: uppercase;
    color: var(--white-color);
    font-weight: 300;
}